<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Sean's Hockey Gear Store</title>
    <div class="about-container">
        <h1>About Sean's Hockey Gear Store</h1>
        <p>Welcome to Sean's Hockey Gear Store!  We are a small family-run business located in Portland, Oregon.  We are dedicated to providing hockey gear to players of all skill levels, all at affordable prices.</p>
        <p>Our store offers a wide range of hockey equipment, from sticks to the full gear set.  Whether you are just starting out or are an experienced player, we have something for everyone.</p>
        <p>Although we are based in Portland, all our items are available to ship online, ensuring you can get your gear no matter where your skates hit the ice!</p>
        <p>Thank you for choosing Sean's Hockey Gear Store.  We look forward to serving you!</p>
        <p>If you have any questions or concerns please reach us at help@seanshockey.com</p>
    </div>
</head>
<a href="http://localhost:8080/">Link to Main Screen</a>
<body>

</body>
</html>
